.LoginForm {
  padding: 10px;
  border: 1px solid pink;
  border-radius: 10px;
  float: left;
  margin-top: 10px;
}
 
.FormHeading {
  background-color: red;
  color: white;
  padding: 4px;
  text-align: center;
}
 
.sub {
  background-color: blue;
  padding: 7px 40px 7px 40px;
  color: white;
  font-weight: bold;
  margin-left: 110px;
  border-radius: 5px;
} 
div {
  width: 500px;
  padding: 10px;
  border: white;
  margin: 500px; 

}
td {
  padding-left:50px;
  padding-right : 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
